# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.2DNetworkingTest-main.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\unity\2DNetworkingTest-main\2DNetworkingTest-main\.idea\.idea.2DNetworkingTest-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
